body {
  text-align: center;
}
#peru-food, #peru-flag, #korea-flag, #korea-food {
  display:none;
}
img {
  height:
  display: block;
  margin: auto;
}

.resize {
  height: 183px;
}

button{
  float: right;
}

.inverted-background{
  color: white;
  background-color: black;
}
.standard-background{
  color: black;
  background-color: white;
}
.highlight{
  border: 1px solid black;
  background: yellow;
}
